.log-in {
  color: #fff;
  text-align: center;
}

.log-in__container {
  position: absolute;
  top: 10%;
}

.btn_left {
  margin-right: 5px;
}

.modal-name {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.modal-username {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: inherit;
  text-decoration: inherit;
}

.modal-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.log-in__header {
  font-size: 45px;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fc0;
  color: #d40511;
}

.log-in__info {
  margin: 20px;
}

.log-in__options {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  height: 1.5em;
  text-transform: uppercase;
  color: #fff;
}

.log-in__input {
  border-radius: 3px;
  width: 50%;
  max-width: 400px;
  font-size: .9em;
}

.log-in__input:focus {
  outline-color: #fc0
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.log-in__button {
  /* width: 40%; */
  padding: 0 30px;
  min-width: 100px;
  max-width: 400px;
  font-size: 1.5em;
  min-height: 1.5em;
  margin: 15px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  box-shadow: inset 0px 0px 2px #ccc;
}

.button {
  background-color: #d40511;
  color: #fff;
  border-radius: 3px;
}

/* .button--log */
