#cog {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  width: 15%;
}

#cog__cross {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 25px;
  width: 15%;
  cursor: pointer;
}

#cog img {
  width: 100%;
  cursor: pointer;
}

.modal {
  width: 90%;
  height: 40%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  border-radius: 30px;
  background-color: #fc0;
}

#slider {
  position: relative;
  width: 80%;
  left: 10%;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #d40511 !important;
  border-radius: 10px;
  top: 0;
}

.rangeslider-horizontal .rangeslider__handle:after {
  opacity: 0;
}

.rangeslider__labels .rangeslider__label-item {
  font-size: 30px !important;
}

li {
  text-decoration: none;
  font-size: 25px;
  list-style-type: none;
}

#switches {
  position: relative;
  margin-top: 70px;
}

.my-switch {
  margin-bottom: 30px;
}

.switch.on {
  background: green;
}
