#cog {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  width: 15%;
}

#cog__cross {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 25px;
  width: 15%;
  cursor: pointer;
}

#cog img {
  width: 100%;
  cursor: pointer;
}

.modal {
  width: 90%;
  height: 50%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  border: solid #0A3C64;
  border-radius: 30px;
  background-color: rgba(255,255,255,0.5);
}

#slider {
  position: relative;
  width: 80%;
  left: 10%;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #961432 !important;
  border-radius: 10px;
  top: 0;
}

.rangeslider-horizontal .rangeslider__handle:after {
  opacity: 0;
}

.rangeslider__labels .rangeslider__label-item {
  font-size: 30px !important;
}

li {
  text-decoration: none;
  font-size: 30px;
  list-style-type: none;
}
